:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

ul {
  list-style-type: none;
  padding: 0;
}

.gallery {
  display: flex;
  max-width: 1440px;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 24px;
  row-gap: 24px;
  margin: auto;
}

.gallery-item {
  position: relative;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.gallery-image {
  width: 360px;
  height: 100%;
  transition: transform var(--animation-duration) var(--timing-function);
}

.gallery-image:hover {
  transform: scale(1.03);
}
